{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "crlf",
    "printWidth": 130,
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "es5",
    "useTabs": false,
    "embeddedLanguageFormatting": "auto"
  }